<div class="app-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h4>Menu                        </h4>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/paneltragaperras" routerLinkActive="active">Tragaperras</a></li>
      <li><a routerLink="/listado-alumnos" routerLinkActive="active">Listado alumnos</a></li>
      <li><a routerLink="/alta-alumno" routerLinkActive="active">Alta alumno</a></li>
    </ul>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>