<p>Tu nombre {{nombre}} y tienes {{edad}} años y los sueldos son {{sueldos}}</p>
<p>Trabajador acticado: {{enActivo()}}</p>
<!-- <p *ngIf="edad>=18;else menor">Eres mayor de edad</p>

<ng-template #menor><p>Eres menor</p></ng-template> -->

@if (edad>=18) {

  <p>Eres mayor de edad</p>

}@else{

  <p>Eres menor</p>

}

<h1>Sueldos</h1>
<ul>

  <li *ngFor="let sueldo of sueldos">{{sueldo}}</li>

</ul>


<ul>

  @for (sueldo of sueldos; track sueldo) {

    <li>{{sueldo}}</li>

  }

</ul>

<input type="submit" (click)="cumplirMayoria()" value="Cambiar edad">

<h1>Provincias</h1>

<select name="" id="">

  @for (prov of provincias; track prov) {

    <option value="{{prov.nombre}}">{{prov.nombre}}</option>

  }

</select>

<h1>Contador</h1>

<p>{{contador}}</p>

<input type="submit" (click)="incremetarContrador()" value="+">
<input type="submit" (click)="decrementarContrador()" value="-">


<h1>Directiva ngModel</h1>

<input type="text" [(ngModel)]="nombre">